include README.md
include requirements.txt
recursive-include src/crop_model_Linear_Regression *.pkl
recursive-include src/crop_model_Linear_Regression *.joblib
recursive-include src/crop_model_Linear_Regression *.h5